@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.checkbox {
  font-variant: normal;
  text-rendering: auto;
  @apply outline-none appearance-none content-none before:content-["\f00c"] before:font-awesome
    before:font-black before:antialiased before:text-sm before:leading-none before:not-italic
    before:text-transparent before:bg-white before:flex before:items-center before:justify-center
    before:w-4 before:h-4 before:border-2 before:border-black before:border-opacity-10
    before:rounded hover:before:border-opacity-50 checked:before:bg-blue-600
    checked:before:border-blue-700 checked:before:text-white;
}
